<!DOCTYPE html>
<!-- COMMENT -->
<html>
<head>
	<title> Contact </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 id="example"> <font face="helvetica" color=green size=1000p>CONTACT </font></h1>
	<p> PUBG MLG PLAYER </p>
	<br>
	<ul id="navigation">
		<li><a href="index.html">Home Page</a></li>
		<li><a href="contact.html">Contact Page</a></li>
	</ul>
	<img src="https://yt3.ggpht.com/a-/AJLlDp1XVgC8-9KyVgsoFbQxnZxqG0DV0q8D_zV5pw=s900-mo-c-c0xffffffff-rj-k-no" alt="me" height="350" width=auto>
	<br>
	<a href="https://youtube.com/c/ishaqidris"> MLG PLAYS </a>
	<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/99djUMym93s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<h2> <font=white>  WAAZAAMS HOUSE </font> </h2>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.411177180308!2d174.82767291583255!3d-41.22867157927908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38ac393bda30a1%3A0xaa9be75278f83554!2s6+Domett+St%2C+Newlands%2C+Wellington+6037!5e1!3m2!1sen!2snz!4v1521674791701" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</body>

</html>
	